<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agendamento de Procedimentos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="position: fixed; width: 100%;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-info" style="min-width: 100%; max-width: max-content; position: fixed; top:0%;">
    <div class="container">
      <div class="col">
        <a class="navbar-brand" href="{% url 'home' %}">Oftalmologia</a>
      </div>
      <button class="navbar-toggler float-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarUsuario" aria-controls="navbarUsuario" aria-expanded="false" aria-label="Toggle navigation" id="usuarioButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
        </svg>
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="navbarNavButton">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link btn btn-info btn-sm text-white" href="{% url 'consultarAgendaDia' %}">Agenda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-info btn-sm text-white" href="{% url 'gerarAgenda' %}">Gerar Agenda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-info btn-sm text-white" href="{% url 'cadastrarAgendamentos' %}">Cadastrar Paciente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-info btn-sm text-white" href="{% url 'confirmarAgendamentos' %}">Confirmar Agendados</a>
          </li>
          <!--<li class="nav-item">
            <a class="nav-link btn btn-info btn-sm text-white" href="{% url 'consultarFilaEsperaPacientes' %}">Fila de Espera</a>
          </li>-->
        </ul>
      </div>
      <div class="col collapse navbar-collapse justify-content-end position-static" id="navbarUsuario">
        <ul class="navbar-nav">
          <li class="nav-item dropdown bg-info " id="userDropdown">
            <a class="nav-link dropdown-toggle btn btn-info btn-sm text-white text-center" href="#" role="button" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
              </svg> {{ usuario|default:"Usuário" }}
            </a>
            <div class="dropdown-menu bg-info border-info w-100 collapse" aria-labelledby="userDropdown">
              <a class="nav-link btn btn-info btn-sm text-white" href="{% url 'atualizarCadastrorMedicos' %}">Meu Perfil</a>
              <a class="nav-link btn btn-info btn-sm text-white " href="{% url 'sair' %}">Sair</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container" style="margin-top: 4.5%;">
    <h2 class="text-center my-4 text-info">Agendar Paciente</h2>
    <form action="{% url 'agendarPaciente' %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="paciente_id" id="paciente_id" value="{{ agendamento.id }}">
      <div class="mb-3">
        <table class="table table-striped table-borderless">
            <tbody>
                <tr>
                  <td class="align-middle text-center">{{ agendamento.prontuario }}</td>
                  <td class="align-middle text-center">{{ agendamento.nome }}</td>
                  <td class="align-middle text-center">{{ agendamento.numero_de_olhos }}</td>
                  <td class="align-middle text-center">{{ agendamento.olho_agendado }}</td>
                  <td class="align-middle text-center">{{ agendamento.aplicacao_atual }}/{{ agendamento.quantidade_aplicacoes_necessarias }}</td>
                  <td class="align-middle text-center">{{ agendamento.diagnostico }}</td>
                  <td class="align-middle text-center">{{ agendamento.telefone }}</td>
                  <td class="align-middle text-center" data-status="{{ agendamento.status }}">{{ agendamento.status }}</td>
                  <td class="align-middle text-center">{{ agendamento.observacao|default:'' }}</td>
                </tr>
            </tbody>
        </table>
        <label for="data_agendada" class="form-label">Data do Agendamento:</label>
        <input type="date" class="form-control" id="data_agendada" name="data_agendada" required>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-info text-white">Agendar</button>
      </div>
    </form>
    <div class="mb-3">
      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags == 'success' %}text-success{% elif message.tags == 'error' %}text-danger{% endif %}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
