<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atualizar Cadastro de Paciente</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
      <div class="col">
        <a class="navbar-brand" href="{% url 'home' %}">Oftalmologia</a>
      </div>
      <button class="navbar-toggler float-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarUsuario" aria-controls="navbarUsuario" aria-expanded="false" aria-label="Toggle navigation" id="usuarioButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
        </svg>
      </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" id="navbarNavButton">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link btn btn-info btn-sm text-white" href="{% url 'consultarAgendaDia' %}">Agenda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-info btn-sm text-white" href="{% url 'gerarAgenda' %}">Gerar Agenda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-info btn-sm text-white" href="{% url 'confirmarAgendamentos' %}">Confirmar Agendamentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-info btn-sm text-white" href="{% url 'cadastrarAgendamentos' %}">Cadastrar Paciente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-info btn-sm text-white" href="{% url 'consultarFilaEsperaPacientes' %}">Fila de Espera</a>
          </li>
        </ul>
      </div>
      <div class="col collapse navbar-collapse justify-content-center position-static" id="navbarUsuario">
        <ul class="navbar-nav">
          <li class="nav-item dropdown bg-info " id="userDropdown">
            <a class="nav-link dropdown-toggle btn btn-info btn-sm text-white text-center" href="#" role="button" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd"
                  d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
              </svg> {{ usuario|default:"Usuário" }}
            </a>
            <div class="dropdown-menu bg-info border-info w-100 collapse" aria-labelledby="userDropdown">
              <a class="nav-link btn btn-info btn-sm text-white" href="{% url 'atualizarCadastrorMedicos' %}">Meu Perfil</a>
              <a class="nav-link btn btn-info btn-sm text-white " href="{% url 'sair' %}">Sair</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <h2 class="text-center my-4 text-info">Agendamento de Procedimentos</h2>
    <form action="{% url 'atualizarCadastroAgendamento' %}" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="nome" class="form-label">Nome:</label>
        <input type="text" readonly class="form-control" id="nome" name="nome" value="{{ agendamento.nome }}">
      </div>
      <div class="mb-3">
        <label for="nome_mae" class="form-label">Nome da mãe:</label>
        <input type="text" class="form-control" id="nome_mae" name="nome_mae" value="{{agendamento.nome_mae}}">
      </div>
      <div class="mb-3">
        <label for="cartao_sus" class="form-label">Cartão do SUS:</label>
        <input type="text" readonly class="form-control" id="cartao_sus" name="cartao_sus" value="{{ agendamento.cartao_sus }}">
      </div>
      <div class="mb-3">
        <label for="clinica" class="form-label">Clinica:</label>
        <input type="text" class="form-control" id="clinica" name="clinica" value="{{agendamento.clinica}}">
      </div>
      <div class="mb-3">
        <label for="enfermaria" class="form-label">Enfermaria:</label>
        <input type="text" class="form-control" id="enfermaria" name="enfermaria" value="{{agendamento.enfermaria}}">
      </div>
      <div class="mb-3">
        <label for="leito" class="form-label">Leito:</label>
        <input type="text" class="form-control" id="leito" name="leito" value="{{agendamento.leito}}">
      </div>
      <div class="mb-3">
        <label for="cpf" class="form-label">CPF:</label>
        <input type="text" readonly class="form-control" id="cpf" name="cpf" value="{{ agendamento.cpf }}">
      </div>          
      <div class="mb-3">
        <label for="prontuario" class="form-label">Número do Prontuário:</label>
        <input type="text" readonly class="form-control" id="prontuario" name="prontuario" value="{{ agendamento.prontuario }}">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label" value="NÃO INFORMADO">Email:</label>
        <input type="email" class="form-control" id="email" name="email" value="{{agendamento.email}}">
      </div>
      <div class="mb-3">
        <label for="telefone" class="form-label">Telefone:</label>
        <input type="tel" class="form-control phone-mask" id="telefone" name="telefone" value="{{agendamento.telefone}}" required>
      </div>
      <div class="mb-3">
        <label for="data_nascimento" class="form-label">Data de Nascimento:</label>
        <input type="text" readonly class="form-control" id="data_nascimento" name="data_nascimento" value="{{ agendamento.data_nascimento }}">
      </div>
      <div class="mb-3">
        <label for="numero_de_olhos" class="form-label">Número de Olhos:</label>
        <select class="form-select" id="numero_de_olhos" name="numero_de_olhos" required>
          <option value="{{agendamento.numero_de_olhos}}" selected>{{agendamento.numero_de_olhos}}</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="olho_agendado" class="form-label">Olho Agendado:</label>
        <select class="form-select" id="olho_agendado" name="olho_agendado" required>
          <option value="{{agendamento.olho_agendado}}" selected>{{agendamento.olho_agendado}}</option>
          <option value="esquerdo">Esquerdo</option>
          <option value="direito">Direito</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="diagnostico" class="form-label">Diagnóstico:</label>
        <textarea class="form-control" id="diagnostico" value="{{agendamento.diagnostico}}" name="diagnostico" rows="3" required>{{agendamento.diagnostico}}</textarea>
      </div>
      <div class="text-center">
        <input type="hidden" name="id" id="agendamento_id" value="{{ agendamento.id }}">
        <button type="submit" class="btn btn-info text-white">Atualizar Dados</button>
      </div>
    </form>
    <div class="mb-3">
      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags == 'success' %}text-success{% elif message.tags == 'error' %}text-danger{% endif %}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
        var phoneInput = document.getElementById('telefone');
        // Máscara de telefone
        phoneInput.addEventListener('input', function (e) {
            var value = e.target.value;
            value = value.replace(/\D/g, '');
            value = value.replace(/^(\d{2})(\d)/g, '($1) $2');
            value = value.replace(/(\d)(\d{4})$/, '$1-$2');
            e.target.value = value;
        });
    });
  </script>
  
 <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
