<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agendamento de Procedimentos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
      <a class="navbar-brand" href="#">Sistema de Clínica</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="pacientes.html">Pacientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="procedimentos.html">Procedimentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="agendamentos.html">Agendamentos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <h2 class="text-center my-4 text-info">Agendamento de Procedimentos</h2>
    <form action="{% url 'cadastrarAgendamentos' %}" method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="id_paciente" class="form-label">Paciente:</label>
        <select class="form-select" id="id_paciente" name="id_paciente" required>
          <option value="" selected disabled>Selecione um paciente</option>
          {% for paciente in pacientes %}
          <option value="{{ paciente.id }}">{{ paciente.nome }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="row align-items-end">
        <div class="mb-3 col">
          <label for="id_procedimento" class="form-label">Procedimento:</label>
          <select class="form-select" id="id_procedimento" name="id_procedimento" required>
            <option value="" selected disabled>Selecione um procedimento</option>
            {% for procedimento in procedimentos %}
            <option value="{{ procedimento.id }}">{{ procedimento.nome }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3 col-auto">
          <label for="adicionar-procedimento" class="form-label">&nbsp;</label>
          <button type="submit" class="btn btn-info text-white">Adicionar Procedimento</button>
        </div>
      </div>
      <div class="mb-3">
        <label for="id_medico" class="form-label">Médico:</label>
        <select class="form-select" id="id_medico" name="id_medico" required>
          <option value="1" selected disabled>Selecione um médico</option>
          {% for medico in medicos %}
          <option value="{{ medico.id }}">{{ medico.nome }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3">
        <label for="numero_de_olhos" class="form-label">Número de Olhos:</label>
        <select class="form-select" id="numero_de_olhos" name="numero_de_olhos" required>
          <option value="" selected disabled>Selecione o número de olhos</option>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>
      </div>
      <div class="mb-3" id="olho-agendado-container" style="display: none;">
        <label for="olho_agendado" class="form-label">Olho Agendado:</label>
        <select class="form-select" id="olho_agendado" name="olho_agendado">
          <option value="ambos" selected>Selecione o olho agendado</option>
          <option value="esquerdo">Esquerdo</option>
          <option value="direito">Direito</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="data_agendada" class="form-label">Data Agendada:</label>
        <input type="date" class="form-control" id="data_agendada" name="data_agendada" required>
      </div>
      <div class="mb-3">
        <label for="diagnostico" class="form-label">Diagnóstico:</label>
        <textarea class="form-control" id="diagnostico" name="diagnostico" rows="3" required></textarea>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-info text-white">Agendar</button>
      </div>
    </form>
    <div class="mb-3">
      {% if messages %}
      {% for message in messages %}
      <div class="alert {% if message.tags == 'success' %}text-success{% elif message.tags == 'error' %}text-danger{% endif %}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>

  <script>
    const numeroOlhosSelect = document.getElementById('numero_de_olhos');
    const olhoAgendadoContainer = document.getElementById('olho-agendado-container');
    const dataAgendadaInput = document.getElementById('data_agendada');
    const today = new Date().toISOString().split('T')[0]; // Obter a data de hoje

    // Definir a data mínima como hoje
    dataAgendadaInput.setAttribute('min', today);

    numeroOlhosSelect.addEventListener('change', function () {
      if (this.value === '1') {
        olhoAgendadoContainer.style.display = 'block';
      } else if (this.value === '2') {
        olhoAgendadoContainer.style.display = 'none';
      } else {
        olhoAgendadoContainer.style.display = 'none';
      }
    });
  </script>
</body>

</html>
