<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Impressão de Agenda{% endblock %}</title>
  
  <style>

    @page {
        size: landscape;
        width: 95%;
        height: 95%;
    }
    .container{
      size: 90%;
    }
    table {
      text-align: center;
      width: 80%;
      margin-left: 5%;
    }
    
    tbody tr:nth-child(even) {
      background-color: #f2f2f2 !important; /* Cor de fundo para linhas pares */
    }

    tbody tr:nth-child(odd) {
      background-color: #b5b5b5 !important; /* Cor de fundo para linhas ímpares */
    }
  </style>
</head>
<body>
  <div class="container" style="max-width: 95%; max-height: 95%; margin-left: 80%;">
    <h2 class="text-center my-4 text-info" style="padding-left: 5%; margin-top: 25%;">Planilha de Agendamentos</h2>
    <div class="row">
      <div class="col-sm align-middle"><h6>Data Selecionada: {{ data_selecionada }}</h6></div>
    </div>
    </div>
    <table class="table text-center align-middle">
      <thead>
        <tr>
          <th class="text-info align-middle text-center" style="width: 8%">Prontuário</th>
          <th class="text-info align-middle text-center">Paciente</th>
          <th class="text-info align-middle text-center" style="width: 4%">Nº de Olhos</th>
          <th class="text-info align-middle text-center" style="width: 9%">Olho(s)</th>
          <th class="text-info align-middle text-center" style="width: 4%">Aplicação Atual</th>
          <th class="text-info align-middle text-center" style="width: 15%">Diagnóstico</th>
          <th class="text-info align-middle text-center" style="width: 11%">Telefone</th>
          <th class="text-info align-middle text-center" style="width: 13%">Status</th>
          <th class="text-info align-middle text-center">Observação</th>
        </tr>
      </thead>
      <tbody>
        {% for agendamento in agendamentos %}
        <tr>
          <!-- Dados das colunas -->
          <td class="align-middle text-center" style="width: 8%">{{ agendamento.prontuario }}</td>
          <td class="align-middle text-center">{{ agendamento.nome }}</td>
          <td class="align-middle text-center" style="width: 4%">{{ agendamento.numero_de_olhos }}</td>
          <td class="align-middle text-center" style="width: 9%">{{ agendamento.olho_agendado }}</td>
          <td class="align-middle text-center" style="width: 4%">{{ agendamento.aplicacao_atual }}/{{ agendamento.quantidade_aplicacoes_necessarias }}</td>
          <td class="align-middle text-center" style="width: 15%">{{ agendamento.diagnostico }}</td>
          <td class="align-middle text-center" style="width: 11%">{{ agendamento.telefone }}</td>
          <td class="align-middle text-center" data-status="{{ agendamento.status }}" style="width: 13%">{{ agendamento.status }}</td>
          <td class="align-middle text-center">{{ agendamento.observacao|default:'' }}</td>
                
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
