<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Título da Página{% endblock %}</title>
</head>
<body>
  <div class="container">
    <h2 class="text-center my-4 text-info">Planilha de Agendamentos</h2>
    <div class="row">
      <div class="col-sm align-middle"><h6>Data Selecionada: {{ data_selecionada }}</h6></div>
    </div>
    </div>
    <table class="table table-striped table-borderless table-hover">
      <thead>
        <tr>
          <th class="text-info align-middle text-center">Prontuário</th>
          <th class="text-info align-middle text-center">Paciente</th>
          <th class="text-info align-middle text-center">Procedimento</th>
          <th class="text-info align-middle text-center">Nº de Olhos</th>
          <th class="text-info align-middle text-center">Olho(s)</th>
          <th class="text-info align-middle text-center">Aplicação</th>
          <th class="text-info align-middle text-center">Diagnóstico</th>
          <th class="text-info align-middle text-center">Telefone</th>
          <th class="text-info align-middle text-center">Status</th>
          <th class="text-info align-middle text-center">Observação</th>
        </tr>
      </thead>
      <tbody>
        {% for agendamento in agendamentos %}
        <tr>
          <!-- Dados das colunas -->
          <td class="align-middle text-center">{{ agendamento.prontuario }}</td>
          <td class="align-middle text-center">{{ agendamento.nome }}</td>
          <td class="align-middle text-center">{{ agendamento.id_procedimento.nome }}</td>
          <td class="align-middle text-center">{{ agendamento.numero_de_olhos }}</td>
          <td class="align-middle text-center">{{ agendamento.olho_agendado }}</td>
          <td class="align-middle text-center">Aplicação</td>
          <td class="align-middle text-center">{{ agendamento.diagnostico }}</td>
          <td class="align-middle text-center">{{ agendamento.telefone }}</td>
          <td class="align-middle text-center">{{ agendamento.status }}</td>
          <td class="align-middle text-center">{{ agendamento.observacao }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
