TCLE Anestesia reserva

<div class="container">
    {% load static %}
    <img style=" width: 550pt; margin-bottom: 10pt;" src="{% static 'img/tcle.png' %}" alt="Logo do HUPAA" />
    <table style="margin: 0 auto; max-width: 530pt;">
        <tr>
            <td>
                <p class="s1" style="text-align: left; max-width: 520pt;">Nome completo: {{agendamento.nome}}</p>
                <p class="s1" style="text-align: left; max-width: 520pt;">Prontuário n°: {{agendamento.prontuario}}
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="s1" style="text-align: left;">RG ou CPF: {{agendamento.cpf}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="s1" style="text-align: left; max-width: 520pt">Nome da Mãe: {{agendamento.nome_mae}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <div style="display: flex;">
                    <div style="flex: 3;">
                        <p class="s1" style="text-align: left;">Data Nasc: {{agendamento.data_nascimento}}</p>
                    </div>
                    <div style="flex: 2;">
                        <p class="s1" style="text-align: left;">| SUS: {{agendamento.cartao_sus}}</p>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="display: flex;">
                    <div style="flex: 3;">
                        <p class="s1" style="text-align: left;">Clínica: {{agendamento.clinica}} </p>
                    </div>
                    <div style="flex: 1;">
                        <p class="s1" style="text-align: left;">|ENF: {{agendamento.enfermaria}}</p>
                    </div>
                    <div style="flex: 1;">
                        <p class="s1" style="text-align: left;">|Leito: {{agendamento.leito}}</p>
                    </div>
                    <div style="flex: 2;">
                        <p class="s1" style="text-align: left;">|Fone: {{agendamento.telefone}} </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <h1 style="padding-top: 10pt; padding-bottom: 5pt;">TERMO DE CONSENTIMENTO LIVRE E ESCLARECIDO PARA ANESTESIA
    </h1>
    <p class="s7">Declaro que fui informado(a) quanto aos principais aspectos relacionados aos procedimentos
        anestésicos dos quais poderei ser submetido nesta instituição.</p>
    <p class="s7">Autorizo um médico(a) anestesiologista desta instituição bem como integrantes de sua equipe
        composta por médicos(as) residentes em anestesiologista sob sua supervisão, todos devidamente cadastrados
        por
        esta instituição, a realizar o seguinte procedimento anestésico:
        _______________________________________________________
        ou a seguinte alternativa anestésica: ________________________________________________________________
        para a cirurgia proposta (escrever nome científico e nome popular entre parênteses quando houver):
        ________________________________________________________________________________ a ser
        realizada
        pela&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        equipe
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        do
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        médico
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        cirurgião:</p>
    <p>____________________________________________________________________.</p>
    <p><br /></p>
    <p style="text-align: justify;">Declaro ainda que:</p>
    <ol type="a" style="padding-top: 6pt;">
        <li>
            <p class="s6">
                Estou ciente de que para realizar o(s) procedimento(s) proposto(s) será necessário o emprego de
                anestesia,
                cujos métodos, as técnicas e os fármacos serão indicados pela equipe médica de anestesiologia antes
                do seu ato
                no centro cirúrgico. A(s) alternativa(s) de procedimento anestésico indicadas para possibilitar o
                procedimento.a
                ser realizado, seus benefícios, riscos e complicações me foram explicadas satisfatoriamente.<br />
            </p>
        </li>
        <li>
            <p class="s6">
                Fui esclarecido de que a anestesia envolve procedimentos invasivos e que podem ocorrer lesões que na
                maioria
                das vezes são temporárias. Raramente ocorrem lgsões permanentes, mas podem ocorrer, mesmo que o
                procedimento tenha sido realizado sob o mais rigoróso padrão técnico. Assim como fui esclarecido,
                também, de
                que a resposta à administração de medicamentos é individual e que a ocorrência de efeitos colaterais
                ou
                indesejados é imprevisível.
            </p>
        </li>
        <li>
            <p class="s6">
                Fui informado que as ações médicas necessárias para promover o estado de anestesia podem desencadear
                complicações, algumas das quais: dificuldades respiratórias, transtornos cardíacos e vasculares,
                reações alérgicas
                ou tóxicas, lesões bucais, na pele, alterações neurológicas.
            </p>
        </li>
        <li>
            <p class="s6">
                Entendo que não existe garantia absoluta sobre os resultados a serem obtidos, mas que serão
                utilizados todos os
                “recursos, medicamentos e equipamentos disponíveis nesta instituição.
            </p>
        </li>
        <li>
            <p class="s6">
                Autorizo qualquer outro procedimento, exame, tratamento e/ou cirurgia, incluindo transfusão
                sanguínea, caso
                ocorram situações imprevistas que demandem cuidados diferentes daqueles inicialmente propostos.
            </p>
        </li>
        <li>
            <p class="s6">
                Sei que durante o procedimento cirúrgico poderá haver necessidade de complementação da anestesia com
                a
                adição de outras drogas ou outras técnicas (anestesia parcial complementada com anestesia geral ou
                geral
                complementada com bloqueio), buscando sempre o melhor resultado.
            </p>
        </li>
        <li style="page-break-after: always;">
            <p class="s6">
                Fui explicado que se a evolução do quadro de saúde apresentado colocar a minha vida em risco, estou
                ciente de
                que serão adotados os procedimentos médicos e hospitalares recomendáveis, na tentativa de afastar o
                perigo
                de vida apurado.
            </p>
        </li>
        <img style=" width: 550pt;" src="{% static 'img/tcle.png' %}" alt="Logo do HUPAA" />
        <li>
            <p class="s6">
                Por ocasião deste consentimento, informei ao médico anestesiologista sobre doenças pré-existentes,
                os
                medicamentos em uso, cirurgias realizadas, complicações anestésicas e reações alérgicas
                anteriormente
                apresentadas e, também, sobre o tempo decorrido de jejum (desde a última refeição/ingestão de
                líquidos).
            </p>
        </li>
        <li>
            <p class="s6">
                Fui informado (a) pela equipe médica de anestesiologia que o tabagismo, o uso de drogas
                entorpecentes em
                geral, a exemplo de: cocaina, maconha, anfetaminas; bem como o álcool são fatores que podem trazer
                prejuízo
                ao procedimento e/ou tratamento. Fui informado, também das complicações que podem advir do uso
                destas
                substâncias.
            </p>
        </li>
        <li>
            <p class="s6">
                Posso a qualquer momento negar a realização de um certo tipo de técnica anestésica por julgar que
                não quero e
                que minha vontade será respeitada.
            </p>
        </li>
    </ol>
    <p class="s4" style="padding-top: 5pt; text-indent: 0pt;text-align: right;">Maceió,
        {{agendamento.data_agendada}}, Hora: ____:____</p>
    <p style="text-indent: 0pt;text-align: left;"><br /></p>

    <table>
        <tr>
            <td class="t1">
                <p class="s5" style="line-height: 17pt;text-align: left;">PACIENTE OU RESPONSÁVEL</p>
            </td>
        </tr>
        <tr style="height:41pt">
            <td class="t1">
                <p class="s1" style="text-align: justify;">Confirmo que tive a oportunidade de fazer perguntas,
                    recebi explicações suficientes, li, compreendo e concordo com tudo o que foi esclarecido e que
                    me foi concedida a oportunidade de anular, questionar ou alterar qualquer item, parágrafo, ou
                    palavras com as quais não concordasse.</p>
            </td>
        </tr>
        <tr style="height:27pt">
            <td class="t1">
                <p class="s1">Nome legível:
                    _________________________________________________________________________________
                </p>
            </td>
        </tr>
        <tr style="height:27pt">
            <td class="t1">
                <p class="s1">Assinatura:
                    ____________________________________________________________________________________
                </p>
            </td>
        </tr>
        <tr style="height:39pt">
            <td class="t1">
                <p><br /></p>
                <p class="s1" style="text-align: left;">Grau de Parentesco do responsável:
                    _____________________________________ RG OU CPF: ________________________________
                </p>
            </td>
        </tr>
    </table>
    <p><br /></p>
    <table style="border-collapse:collapse;margin-left:6.45pt">
        <tr style="height:24pt">
            <td class="t2">
                <p class="s5" style="line-height: 17pt;text-align: left;">TESTEMUNHA 1</p>
            </td>
            <td class="t2">
                <p class="s5" style="line-height: 17pt;text-align: left;">TESTEMUNHA 2</p>
            </td>
        </tr>
        <tr style="height:33pt">
            <td class="t2">
                <p class="s1" style="text-align: left;">Nome legível completo: _________________________</p>
            </td>
            <td class="t2">
                <p class="s1" style="text-align: left;">Nome legível completo: _________________________</p>
            </td>
        </tr>
        <tr style="height:33pt">
            <td class="t2">
                <p class="s1">Assinatura: ___________________________________</p>
            </td>
            <td class="t2">
                <p class="s1">Assinatura: ___________________________________</p>
            </td>
        </tr>
        <tr style="height:33pt">
            <td class="t2">
                <p><br /></p>
                <p class="s1" style="text-align: left; padding-bottom: 5pt;">RG OU CPF:
                    ___________________________________
                </p>
            </td>
            <td class="t2">
                <p><br /></p>
                <p class="s1" style="text-align: left; padding-bottom: 5pt;">RG OU CPF:
                    ___________________________________
                </p>
            </td>
        </tr>
    </table>
    <p><br /></p>
    <p><br /></p>
    <table style="border-collapse:collapse;margin-left:6.45pt" cellspacing="0">
        <tr>
            <td class="t1">
                <p class="s5" style="line-height: 17pt;text-align: left;">PREENCHIMENTO PELO MÉDICO</p>
            </td>
        </tr>
        <tr style="height:54pt">
            <td class="t1">
                <p class="s1">Expliquei todo o procedimento, exame, tratamento e/ou cirurgia a que o paciente
                    referido está sujeito, ao próprio paciente e/ou seu responsável, sobre os benefícios, riscos e
                    alternativas tendo respondido as perguntas formuladas pelos mesmos. De acordo com o seu
                    entendimento, o paciente e/ou responsável, está em condições de compreender o que lhes foi
                    informado.</p>
            </td>
        </tr>
        <tr style="height:27pt">
            <td class="t1">
                <p class="s1">Nome legível completo do médico(a): {{usuario}}</p>
            </td>
        </tr>
        <tr style="height:64pt">
            <td class="t1">
                <p><br /></p>
                <div style="display: flex;">
                    <div style="flex: 1;">
                        <p class="s1" style="text-align: left;">CRM: {{medico.crm}}</p>
                    </div>
                    <div style="flex: 4;">
                        <p class="s1" style="text-align: left;"> Carimbo médico e assinatura: {{medico.assinatura}}
                        </p>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <!-- Parágrafos adicionais e informações do médico -->
    <table style="border-collapse:collapse;margin-left:6.45pt" cellspacing="0">
        <!-- Tabela preenchida pelo médico -->
    </table>
</div>
