<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Procedimentos</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container">
      <a class="navbar-brand" href="#">Sistema de Clínica</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="pacientes.html">Pacientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="procedimentos.html">Procedimentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="agendamentos.html">Agendamentos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="mb-3 col">
    <label for="procedimento" class="form-label">Procedimento:</label>
    <select class="form-select" id="procedimento" name="procedimento" required>
      <option value="" selected disabled>Selecione um procedimento</option>
      <option value="procedimento1">Procedimento 1</option>
      <option value="procedimento2">Procedimento 2</option>
      <option value="procedimento3">Procedimento 3</option>
      {% for procedimento in procedimentos %}
        <option value="{{ pessoa.id }}">{{ procedimento.nome }}</option>
      {% endfor %}
      <!-- Adicione mais opções de procedimentos conforme necessário -->
    </select>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
